<h1>Editing Collection Inventory Configuration</h1>

<%= render 'form' %>

<%= link_to 'Show', @collection_inventory_configuration %> |
<%= link_to 'Back', collection_inventory_configurations_path %>
