<h4>Digital Provenance for <i><b><%= @physical_object.titles_text %></b></i></h4>
<% @dp.each do |d| %>
  <div class="digiprov_div">
    <h5>Cage: <%= "#{d.cage_shelf.identifier}" %></h5>
    <pre>
      <%= d.digital_provenance_text %>
    </pre>
  </div>
<% end %>