<h4>Metadata Fields for Video!!!</h4>
<div id="format_metadata" class="metadata_section">
  <h4>Format</h4>
  <div class="left _45">
    <b>Gauge</b><%= f.select :gauge, options_for_select(Video::GAUGE_VALUES.collect{|v| [v, v]}, @physical_object.gauge), {include_blank: ''} %>
  </div>
</div>
<div id="overlay"></div>
<div id="title_popup" title='Create New Title'>
  <div id="title_popup_header">
    <h4>Create New Title</h4><%= link_to "X", "#", remote: true, button: true, id: 'title_popup_cancel_button' %>
  </div>
  <div id="title_popup_content" class="clear"></div>
</div>