<h4>Cage Shelves</h4>
<table>
  <tbody>
  <tr>
    <th>Shelf Identifier</th>
    <th>Physical Object Count</th>
    <th>Status</th>
  </tr>
  <% @cage_shelves.each do |cs| %>
    <tr>
      <td><%= link_to "#{cs.identifier}", cage_shelf_path(cs) %></td>
      <td><%= cs.physical_objects.size %></td>
      <td><%= cs.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>