<table>
	<tbody>
	<tr>
		<th>Scan IU Barcode</th>
		<td>
			<%= text_field_tag :iu_barcode  %>
		</td>
	</tr>
	<tr>
		<th colspan="2">
			<%= button_tag "Mark Found", id: "submit", data: { disable_with: false } %>
		</th>
	</tr>
	</tbody>
</table>
<div id="location_div">

</div>
<h4 class="m_top_10px"><i>Missing</i> Physical Objects</h4>
<%= render partial: 'physical_objects_table' %>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#submit').click(function() {
        let bc = $('#iu_barcode').val();
        let url = './choose_found_workflow/';
        $.ajax({
            url: url,
            method: "POST",
            data: {"iu_barcode": bc},
            error: function (jqXHR, textStatus, errorThrown) {
                swal({
                    title: 'Ajax Error',
                    text: 'An error occured while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
                }, function () {
                    window.location.replace(url)
                });
            },
            success: function (result) {
                $('#location_div').html(result);
                hookLocationSelector();
            }
        });
    });
	});

  function hookLocationSelector() {
      $("[id^=edit_physical_object_]").submit(function(event) {
          let prevent = $('#insert_into_workflow').is(":checked") && $('input[name=title]:checked').size() === 0;
          if ( prevent ) {
              event.preventDefault();
              swal({
                  title: 'Cannot Insert Into Workflow',
                  text: 'You must select a Title for the Component Group'
              });
          } else {
              return true;
          }
      })
      $("input[type='radio']").change(function(e) {
          let el = $('.hidden');
          if ($(this).attr('id') === 'return_to_storage') {
              el.fadeOut(200);
          } else {
              el.fadeIn(200);
          }
      });
  };
</script>