<%= form_tag update_mark_found_path do %>
<table>
	<tbody>
	<tr>
		<th>Scan IU Barcode</th>
		<td>
			<%= text_field_tag :iu_barcode  %>
		</td>
	</tr>
	<tr>
		<th colspan="2">
			<%= submit_tag "Mark Found" %>
		</th>
	</tr>
	</tbody>
</table>
<% end %>
<div id="msg">

</div>
<h4 class="m_bottom_10px">Physical Objects <i>Missing</i></h4>
<%= render partial: 'physical_objects_table' %>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#iu_barcode').bind('input', function() {
      valid = validateIUBarcode($(this));
			$('#msg').html('');
			if (valid) {
			    var url = './ajax_mark_found/' + bc;
				$.ajax({
					url: url,
					error: function(jqXHR, textStatus, errorThrown) {
              swal({
                  title: 'Ajax Error',
                  text: 'An error occured while making an AJAX call. When this dialog closes, Filmdb will redirect to the underlying error page. Please screen shot the error page and forward it to Carmel.'
              }, function() {
                  window.location.replace(url)
              });
          },
					success: function (result) {
						$('#msg').html(result)
					}
				});
			}
		})
	});
</script>