<h4>Workflow Status Locations</h4>
<table>
  <tr>
    <th>Type</th>
    <th>Facility</th>
    <th>Physical Location</th>
    <th>Notes</th>
    <th>Actions</th>
  </tr>
  <% @workflow_status_locations.each do |wsl| %>
    <tr>
      <td><%= wsl.location_type.tr('_',' ').split(' ').map(&:capitalize)*' ' %></td>
      <td><%= wsl.facility %></td>
      <td><%= wsl.physical_location %></td>
      <td><%= wsl.notes %></td>
      <td><i>To be implemented</i></td>
    </tr>
  <% end %>
</table>