<h4>Component Group Creation</h4>
<%= form_for :pos, url: create_component_group_path, format: :html, html: {id: "component_group_form"} do |f| %>
    <%= f.hidden_field :po_ids %>
    <div>
      <div><b>Group Type: </b><%= f.select :group_type, options_for_select(@component_group_cv[:group_type]) %></div>
      <div>
        <%= f.submit "Create Component Group From Selected Physical Objects" %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  $("#component_group_form").submit(function(event) {
    vals = [];
    $("input:checked").each(function() {
      vals.push($(this).attr("id").substring("physical_object_".length));
    });
    $("#pos_po_ids").attr("value", vals.toString());

  });
</script>