<p>
  Your Spreadsheet download is running and will be available for download shortly. You should receive an email shortly
  with a link for the download. Or you can visit <%= link_to "Downloads", spread_sheet_searches_path %>
</p>