<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
<table>
  <tr>
    <th>Unit Name</th>
    <td><%= @unit.name %></td>
  </tr>
</table>
