/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

body {
    margin: 0 auto;
    font-family: sans-serif;
    height: 100%;
    width: 1000px;
    color: #FFDBAA;
    background-color: #718EA4
}

#branding {
    background-image: url('/assets/branding1.jpg');
    width: 1000px;
    height: 150px;
}

#branding > div.user {
    float: right;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#718EA4, rgba(113,142,164,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#718EA4, rgba(113,142,164,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#718EA4, rgba(113,142,164,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#718EA4, rgba(113,142,164,0)); /* Standard syntax (must be last) */
    padding: 10px 5px 104px;
    color: #805215;
}

div#menu {
    background: #042037 none repeat scroll 0 0;
    padding: 4px 10px;
    font-size: 1.5em;
}

div#menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
div#menu>ul>li {
    float: left;
    padding: 0 0 0 12px;
    font-family: 'Tahoma';
    font-size: 14px;
    word-spacing: -0.3em;
    font-weight: bold;
    color: white;
    margin: 0;
}

h1 {
    color: #805215;
}

a:link {
    color: #805215;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #805215;
}
a:hover {
    color: #FFDBAA;
    background-color: rgba(0,0,0,0);
}

/* CSS for the main menu items in the #menu div */
#menu {
    height: 42px;
    background: #042037;
}
.menuItem {
    float: left;
    padding: 10px 0 0 12px;
    font-family: 'Tahoma';
    font-size: 14px;
    word-spacing: -0.3em;
    font-weight: bold;
}
ul.nav {
    display: none;
    padding: 0 5px 0 5px;
    margin: 0;
    background-color: #123652;
    color: #042037;
    position: absolute;
    word-spacing: normal;
    border-radius: 3px;
}
ul.nav > li {
    list-style-type: none;
}


.red {
    color: #8F2609;
}

.green {
    color: #23c417;
}
table, th, td {
    border: 1px solid #042037;
}
table {
    border-spacing: 0;
}

th, tr, td {
    font-size: 1.1em;
}
th {
    background-color: #123652;
    font-weight: bold;
    color: #805215;
}

table tbody tr td input, textarea, select {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bad_barcode {
    color: red;
    font-weight: bold;
    border: 2px solid red;
}

#accordion_table {
    padding: 0;
}

.inventory_ul {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
}
.inventory_ul > li {
    padding-bottom: 10px;
}
.inventory_li > div > a {
    display: none;
}

.warning {
    background-color: red;
    color: black;

}
.notice {
    background-color: green;
    color: black;
}
.warning, .notice {
    font-weight: bold;
    font-size: 1.3em;

}