/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

body {
    margin: 0 auto;
    font-family: sans-serif;
    height: 100%;
    width: 1000px;
}

#branding {
    background-image: url('/assets/branding1.jpg');
    width: 1000px;
    height: 150px;
}

#branding > div.user {
    float: right;
    margin-right: 15px;
}

div#menu {
    background: #7d110c none repeat scroll 0 0;
    padding: 4px 10px;
    font-size: 1.5em;
}

div#menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
div#menu>ul>li {
    float: left;
    padding: 0 0 0 12px;
    font-family: 'Tahoma';
    font-size: 14px;
    word-spacing: -0.3em;
    font-weight: bold;
    color: white;
    margin: 0;
}

a:link {
    color: #7D110C;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #7D110C;
}
a:hover {
    color: #7D110C;
}

/* CSS for the main menu items in the #menu div */
#menu {
    height: 42px;
    background: #7D110C;
}
.menuItem {
    float: left;
    padding: 10px 0 0 12px;
    font-family: 'Tahoma';
    font-size: 14px;
    word-spacing: -0.3em;
    font-weight: bold;
}
.menuItem a:link {
    color: white;
}
.menuItem a:visited {
    color: white;
}
.menuItem a:hover {
    color: #DBCEAC;
}
ul.nav {
    display: none;
    padding: 0 5px 0 5px;
    margin: 0;
    background-color: #cd894e;
    color: #7d110c;
    position: absolute;
    word-spacing: normal;
    border-radius: 3px;
}
ul.nav > li {
    list-style-type: none;
}


.red {
    color: #8F2609;
}

.green {
    color: #23c417;
}

table {
    border-spacing: 0;
}

th, tr, td {
    border: 1px solid black;
    font-size: 1.1em;
}
th {
    background-color: rgba(125, 18, 12, 0.45);
    font-weight: bold;
}

table tbody tr td input, textarea, select {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bad_barcode {
    color: red;
    font-weight: bold;
    border: 2px solid red;
}

#accordion_table {
    padding: 0;
}

.inventory_ul {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
}
.inventory_ul > li {
    padding-bottom: 10px;
}
.inventory_li > div > a {
    display: none;
}

.warning {
    color: red;
}
.notice {
    color: green;
}
.warning, .notice {
    font-weight: bold;
    font-size: 1.3em;

}