/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

body {
    margin: 0 auto;
    font-family: sans-serif;
    height: 100%;
    width: 1000px;
    color: #123652;
    background-color: white;
}

#branding {
    background-image: url('/assets/branding1.jpg');
    width: 1000px;
    height: 150px;
}

#branding > div.user {
    float: right;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#718EA4, rgba(113,142,164,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#718EA4, rgba(113,142,164,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#718EA4, rgba(113,142,164,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#718EA4, rgba(113,142,164,0)); /* Standard syntax (must be last) */
    padding: 10px 5px 104px;
    color: #805215;
}

div#menu {
    background: #042037 none repeat scroll 0 0;
    padding: 4px 10px;
    font-size: 1.5em;
}

div#menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
div#menu>ul>li {
    float: left;
    padding: 0 0 0 12px;
    font-family: 'Tahoma';
    font-size: 14px;
    word-spacing: -0.3em;
    font-weight: bold;
    color: white;
    margin: 0;
}

h1 {
    color: #805215;
}

/* CSS for the main menu items in the #menu div */
#menu {
    height: 42px;
    background: #042037;
}
.menuItem {
    float: left;
    padding: 10px 0 0 12px;
    font-family: 'Tahoma';
    font-size: 14px;
    word-spacing: -0.3em;
    font-weight: bold;
}
ul.nav {
    display: none;
    padding: 0 5px 0 5px;
    margin: 0;
    background-color: #123652;
    color: #042037;
    position: absolute;
    word-spacing: normal;
    border-radius: 3px;
}
ul.nav > li {
    list-style-type: none;
}

ul.nav > li > a:link, .menuItem > a:link {
    color: #805215;
    font-weight: bold;
    text-decoration: none;
}
ul.nav > li > a:visited, .menuItem > a:visited {
    color: #805215;
}
ul.nav > li > a:hover, .menuteItem > a:hover {
    color: #FFDBAA;
    background-color: rgba(0,0,0,0);
}

a:link {
    color: #805215;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #805215;
}
a:hover {
    color: #042037;
    background-color: rgba(0,0,0,0);
}

.red {
    color: #8F2609;
}

.green {
    color: #23c417;
}

table {
    border-spacing: 0;
    max-width: 995px;
    margin-left: 5px;
}
table, th, td {
    border: none;
}

th, td {
    text-align: left;
    white-space: nowrap;
}

td:first-of-type {
    padding-right: 20px;
}

table > tbody > tr, td > input, textarea, select {
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#generation > td > div {
    -webkit-box-shadow:inset 0 0 0 1px #333333;
    -moz-box-shadow:inset 0 0 0 1px #333333;
    box-shadow:inset 0 0 0 1px #333333;
    height: 269px;
    margin-right: 5px;
    width: 32.7%;
}

.metadata_section > table {
    width: 995px;
}

table.version_table > tbody > tr > td > input {
    margin-right: 25px;
}

label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

input[type='checkbox'] {
    position: relative;
    vertical-align: middle;
}

.bad_barcode {
    color: red;
    font-weight: bold;
    border: 2px solid red;
}

#accordion_table {
    padding: 0;
}

.inventory_ul {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
}
.inventory_ul > li {
    padding-bottom: 10px;
}
.inventory_li > div > a {
    display: none;
}

.warning {
    background-color: red;
    color: black;

}
.notice {
    background-color: green;
    color: black;
}
.warning, .notice {
    font-weight: bold;
    font-size: 1.3em;
}

.metadata_section {
    margin-bottom: 25px;
}
.metadata_section > h4 {
    background: #496D89;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
    color: black;
    margin: 0;
}
#format_notes_metadata {
    clear: both;
}
#format_type_label {
    float: left;
    width: 20%;
}
#format_type_values {
    width: 400px;
}
#image_metadata > table, #sound_metadata > table {
    width: 485px;
}

#image_metadata > table > tbody > tr td , #sound_metadata > table > tbody > tr td {
    padding: 0<br/;
}

td#color {
    padding: 0;
}

._25 {
    width: 25%;
}
._33 {
    width: 33%;
}
._40 {
    width: 40%;
}
._45 {
    width: 45%;
}
._50 {
    width: 50%;
}
._75 {
    width: 75%;
}
._100 {
    width: 100%;
}
.line_300 {
    line-height: 300%;
}
.h_75px {
    height: 75px;
}
.h_80px {
    height: 80px;
}
.h_90px {
    height: 90px;
}
.h_100px {
    height: 100px;
}
.h_150px {
    height: 150px;
}
.h_175px {
    height: 175px;
}
.h_195px {
    height: 195px;
}
.h_260px {
    height: 260px;
}
.h_360px {
    height: 360px;
}
.h_400px {
    height: 400px;
}
.pl_10px {
    padding-left: 10px;
}
.left {
    float: left;
}
.rp_10px {
    padding-right: 10px;
}

.generation_box {
    border: 1px solid gray;
    height: 270px;
    float: left;
    padding-right: 10px;
}
.generation_box_ml_5px {
    margin-left: 5px;
}


#image_metadata {
    width: 490px;
    padding-right: 10px;
}

#format_metadata {
    height: 450px;
}
#condition_metadata {
    height: 500px;
}
.clear_div {
    clear: both;
    height: 0px;
    display: none;
}

textarea {
    resize: vertical;
}
.block {
    display: block;
}

#color_div {
    margin-top: 15px;
}
