/*  Place all the styles related to the Titles controller here. */
#whodoneit {
    float: right;
    font-size: .75em;
}
#main {
    clear: both;
    overflow: hidden;
}

.label {
    float: left;
    width: 35%;
}
.field {
    float: left;
    width: 62%;
    margin-left: 5px;
}
h4 {
    clear: both;
}
.text_field_field > textarea {
    width: 100%;
    height: 95px;
}

.fields > div.label > b {
    display: inline;
}
.fields > div.field > input {
    display: inline;
}

.fields_for_div > .fields > div.label {
    width: 75px;
}
.fields_for_div > .fields > div.field  {
    width: 120px;
}

#title_form_div > a {
    font-size: .8em;
    font-weight: normal;
}
div > a {
    padding-left: 10px;
}
.field > input {
    width: 85%;
}

#notes_div > textarea {
    width: 100%;
    height: 50px;
}

.left_div, .right_div {
    float: left;
    width: 50%;
    overflow: hidden;
}
.left_div > div.label, .left_div > div.field {
    float: left;
    margin-bottom: 5px;
    min-height: 20px;
}
.left_div > div.label {
    width: 22%;
}
.left_div > div.field {
    width: 70%;
}
.creator_div {
    width: 25%;
}
.creator_div > div.label {
    width: 35%;
}
.creator_div > div.field {
    width: 60%;
}
.mt_25 {
  margin-top: 25px;
}