// Place all the styles related to the Workflow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wells_scan_div {
	float: left;
	margin-right: 40px;
}
#wells_info_div {
	float: left;
}