<%= form_for(@component_group) do |f| %>
  <% if @component_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component_group.errors.count, "error") %> prohibited this component_group from being saved:</h2>

      <ul>
      <% @component_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
