<%= link_to 'Back', title_path(@component_group.title) %>
<h2 class="title" id="<%= @title.id %>">New Component Group for <b><i><%= @component_group.title.title_text %></i></b></h2>
<%= render 'new_form' %>

